<div class="generic-container">
  <div class="header">
    <h1>Formulario de {{ mode === "edit" ? "Edición" : "Registro" }}</h1>
  </div>

  <div class="separator"></div>

  <div class="form-container">
    <form autocomplete="off" [formGroup]="form" (submit)="submit()">
      <div class="elements-container-general">
        <div class="element-container">
          <label>ID</label>
          <app-form-input
            formControlName="id"
            type="text"
            [validationMessages]="{
              required: 'Este campo es requerido!',
              minlength: 'Mínimo 3 caracteres!',
              maxlength: 'Máximo 10 caracteres!',
            }"
          ></app-form-input>
        </div>

        <div class="element-container">
          <label for="">Nombre</label>
          <app-form-input
            formControlName="name"
            type="text"
            [validationMessages]="{
              required: 'Este campo es requerido!',
              minlength: 'Mínimo 5 caracteres!',
              maxlength: 'Máximo 100 caracteres!',
            }"
          ></app-form-input>
        </div>

        <div class="element-container danger">
          <label for="">Descripción</label>
          <app-form-input
            formControlName="description"
            type="text"
            [validationMessages]="{
              required: 'Este campo es requerido!',
              minlength: 'Mínimo 10 caracteres!',
              maxlength: 'Máximo 200 caracteres!',
            }"
          ></app-form-input>
        </div>

        <div class="element-container">
          <label for="">Logo</label>
          <app-form-input
            formControlName="logo"
            type="url"
            [validationMessages]="{
              required: 'Este campo es requerido!'
            }"
          ></app-form-input>
        </div>

        <div class="element-container">
          <label for="">Fecha Liberación</label>
          <app-form-input
            formControlName="date_release"
            (ngModelChange)="setDateRevision()"
            type="date"
            [validationMessages]="{
              required: 'Este campo es requerido!',
              dateAfterThan: 'La fecha ingresada debe ser igual o superior a hoy!',
            }"
          ></app-form-input>
        </div>

        <div class="element-container">
          <label for="">Fecha Revisión</label>
          <app-form-input
            formControlName="date_revision"
            type="date"
            [validationMessages]="{
              required: 'Este campo es requerido!',
            }"
          ></app-form-input>
        </div>
      </div>

      <div class="buttons-container">
        <ng-container *ngIf="mode === 'create'">
          <button type="button" class="secondary" (click)="reset()">
            Reiniciar
          </button>
        </ng-container>

        <ng-container *ngIf="mode === 'edit'">
          <button type="button" class="secondary" (click)="goHome()">
            Volver
          </button>
        </ng-container>

        <button type="submit" class="primary">
          {{ mode === "create" ? "Enviar" : "Actualizar" }}
        </button>
      </div>
    </form>
  </div>
</div>
