.alert {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

.alert.danger {
  .separator {
    background-color: #cc0000 !important;
  }
}
