.generic-container {
  position: relative;
}

.header {
  padding: 16px;

  h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.6em;
    text-align: center;
  }
}

.separator {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #555555;
}

.form-container {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;

  form {
    width: 100%;

    .elements-container-general {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .element-container {
        padding: 16px;

        * {
          display: block;
        }

        label {
          width: 100%;
          font-weight: bold;
          padding: 12px 0;
        }
      }
    }

    .buttons-container {
      text-align: center;

      button {
        cursor: pointer;
        width: 164px;
        padding: 24px;
        margin: 24px;
        font-size: 1.2em;
        background-color: white;
        border: solid 1px #eee;
        border-radius: 4px;
        color: #424f6e;
        font-weight: bold;
      }

      button.restart-form {
        background-color: #e9ecf3;
      }

      button.submit-form {
        background-color: #f9de4b;
      }

      button:hover {
        filter: brightness(110%);
      }
    }
  }
}
