<div class="generic-container">
  <div class="header">
    <h1>Formulario de Registro</h1>
  </div>

  <div class="separator"></div>

  <div class="form-container">
    <form autocomplete="off">
      <div class="elements-container-general">
        <div class="element-container">
          <label>ID</label>
          <input type="text" />
        </div>

        <div class="element-container">
          <label for="">Nombre</label>
          <input type="text" />
        </div>

        <div class="element-container danger">
          <label for="">Descripción</label>
          <input type="text" />
          <p>Este campo es requerido!</p>
        </div>

        <div class="element-container">
          <label for="">Logo</label>
          <input type="text" />
        </div>

        <div class="element-container">
          <label for="">Fecha Liberación</label>
          <input type="date" />
        </div>

        <div class="element-container">
          <label for="">Fecha Revisión</label>
          <input type="date" />
        </div>
      </div>

      <div class="buttons-container">
        <button type="button" class="restart-form">Reiniciar</button>
        <button type="submit" class="submit-form">Enviar</button>
      </div>
    </form>
  </div>
</div>
