.header {
  width: 100%;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-box,
  .right-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-options {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
