<div class="table-content">
  <table>
    <tr>
      <th *ngFor="let header of headers">{{ header.label }}</th>
    </tr>
    <tr *ngFor="let item of data">
      <td *ngFor="let header of headers">
        <ng-container *ngIf="header.type === 'imageUrl'">
          <img [src]="item[header.key]" />
        </ng-container>

        <ng-container *ngIf="!header.type || header.type === 'text'">
          <span>{{ item[header.key] }}</span>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
