<div class="table-container generic-container">
  <div class="table-content">
    <table>
      <tr>
        <th *ngFor="let header of headers">{{ header.label }}</th>
      </tr>
      <tr *ngFor="let item of getRows()">
        <td *ngFor="let header of headers">
          <ng-container *ngIf="header.key">
            <ng-container *ngIf="!header.type || header.type === 'text'">
              <span>{{ valueTransform(header, item?.[header.key]) }}</span>
            </ng-container>

            <ng-container *ngIf="header.type === 'imageUrl'">
              <img [src]="valueTransform(header, item?.[header.key])" />
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!header.key">
            <ng-container *ngIf="header.type === 'dropdown'">
              <div class="dropdown">
                <button class="dropbtn">
                  <img src="/assets/images/elipsis.svg" />
                </button>
                <div class="dropdown-content">
                  <a
                    href="javascript:void(0)"
                    *ngFor="let option of header.dropdownOptions"
                    (click)="option.handle?.(item)"
                    >{{ option.label }}</a
                  >
                </div>
              </div>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>

  <div class="table-footer">
    <div class="table-results-count">
      <p>{{ data.length }} Resultados</p>
    </div>

    <div class="table-results-pagination">
      <app-pagination
        [currentPage]="currentPage"
        [totalDataCount]="data.length"
        [perPageDataCount]="resultsPerPage"
        (pageChange)="pageChange($event)"
      ></app-pagination>
    </div>

    <div class="table-results-per-page" *ngIf="perPageOptions.length">
      <select [(ngModel)]="resultsPerPage" (ngModelChange)="setInitialPage()">
        <option *ngFor="let option of perPageOptions">{{ option }}</option>
      </select>
    </div>
  </div>
</div>
