.table-container {
  .table-content {
    overflow-x: auto;

    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      font-size: 0.8em;

      tr {
        th {
          background: #f9fafc;
          padding: 21px 4px;
        }

        td {
          padding: 8px 4px;
        }

        th,
        td {
          text-align: center;
          border-bottom: solid 2px #efefef;

          img {
            max-height: 54px;
          }
        }
      }
    }
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    .table-results-count {
      text-align: left;
    }

    .table-results-per-page {
      text-align: right;

      select {
        padding: 6px 12px;
        border: solid 2px #ddd;
        border-radius: 4px;
      }
    }
  }
}
